<a href="https://colab.research.google.com/github/jasperfoo/c/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas
import numpy

#import file
df = pandas.read_csv('topglov.csv')

#dropping columns
df.drop(columns=['<per>', '<o/i>'], inplace=True)

#renaming columns
df.columns = ['ticker', 'name', 'date', 'open', 'high', 'low', 'close', 'vol']

#changing datatype???
df['ticker'] = df['ticker'].astype('category')
df['name'] = df['name'].astype('category')

#change date format
df['date'] = pandas.to_datetime(df['date'], format='%Y%m%d')

# Simple Moving Average\n",
df['SMA20'] = df['close'].rolling(20).mean()
df['SMA50'] = df['close'].rolling(50).mean()
df['SMA100'] = df['close'].rolling(100).mean()



print(df)
print(df.info(verbose=True))

     ticker     name       date    open  ...        vol   SMA20   SMA50  SMA100
0      7113  TOPGLOV 2001-03-27  0.0172  ...  339014887     NaN     NaN     NaN
1      7113  TOPGLOV 2001-03-28  0.0148  ...   66417318     NaN     NaN     NaN
2      7113  TOPGLOV 2001-03-29  0.0145  ...   36718753     NaN     NaN     NaN
3      7113  TOPGLOV 2001-03-30  0.0137  ...   38817797     NaN     NaN     NaN
4      7113  TOPGLOV 2001-04-02  0.0123  ...   59767123     NaN     NaN     NaN
...     ...      ...        ...     ...  ...        ...     ...     ...     ...
4916   7113  TOPGLOV 2021-03-16  5.2300  ...   18431900  5.3485  5.9126  6.6424
4917   7113  TOPGLOV 2021-03-17  5.2600  ...   27310800  5.3080  5.8978  6.6014
4918   7113  TOPGLOV 2021-03-18  5.3800  ...   20432600  5.2675  5.8930  6.5652
4919   7113  TOPGLOV 2021-03-19  5.3200  ...   30079800  5.2355  5.8868  6.5303
4920   7113  TOPGLOV 2021-03-22  5.3900  ...   37969000  5.2165  5.8796  6.4973

[4921 rows x 11 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4921 entries, 0 to 4920
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  4921 non-null   category
 1   name    4921 non-null   category
 2   date    4921 non-null   datetime64[ns]
 3   open    4921 non-null   float64
 4   high    4921 non-null   float64
 5   low     4921 non-null   float64
 6   close   4921 non-null   float64
 7   vol     4921 non-null   int64
 8   SMA20   4902 non-null   float64
 9   SMA50   4872 non-null   float64
 10  SMA100  4822 non-null   float64
dtypes: category(2), datetime64[ns](1), float64(7), int64(1)
memory usage: 355.9 KB
None

# New Section